.employeeTable{
    width: 60%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 6px;
    margin: 40px auto;
    padding: 50px;
    color: black;
}
.employeeTable table{
    width: 100%;
    border-collapse: collapse;
}
.employeeTable table thead th{
    background-color: rgb(86, 120, 67);
    color: white;
    padding: 10px;
}
.employeeTable table tbody td{
    padding: 10px;
    text-align: center;
}
.actionButtons button{
    margin: 0px 5px;
}
.employee_header{
    color: rgb(37, 37, 144);
    margin: 20px auto;
    text-align: center;
}