@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --BGCOLOR: #3764ab;
  --BORDER-COLOR: #fff;
  --COLOR: #fff;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(57, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
}

.nowrap {
  white-space: nowrap;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  
  color: var(--COLOR);
 background-image: url('./assets/employeeappbg.jpg'); 
  background-size: cover;
  background-position: top right;
   /* background-blend-mode: multiply; */
} 

.public,
.welcome{
  color: rgb(37, 37, 144);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.outerbox{
  /* background-color: #fff; */
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 16px;
  border: 2px solid greenyellow;
}

.outerbox h4{
  
  padding: 20px 0px;
  color: rgb(26, 36, 130);
}

.outercontainer{
  max-width: 400px;
  margin-top: 50px;
}

.buttoncontainer{
  display: flex;
  justify-content: center;
}

.buttoncontainer button{
  padding: 8px 30px;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.welcome h4{
  margin: 50px auto;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.errmsg {
  background-color: rgb(255, 212, 219);
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}